// Variáveis SCSS
$primary-color: #4CAF50; // Verde
$secondary-color: #FFC107; // Amarelo
$text-color: #333;
$background-color: #f4f7f6;
$header-footer-bg: #212529; // Cinza escuro
$header-footer-text: #fff;

// Breakpoints
$breakpoint-tablet: 768px; // Um breakpoint comum para tablets
$breakpoint-mobile: 480px; // Um breakpoint comum para celulares
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

$expense-color: #EF5350; // Vermelho para despesas
$income-color: #66BB6A;  // Verde para rendas